
.build/
Publish/
bin/
obj/

/RimSearcher_DataMod/Assemblies/
/RimSearcher_DataMod/Native/

.idea/
.vs/
*.user
*.userosscache
*.sln.docstates

packages/
*.nuget.props
*.nuget.targets

.DS_Store
Thumbs.db

*.log
/config.json
/.omp/
/ARCHITECTURE.md
/docs/

.release/
/AGENTS.md
